@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&family=Quicksand:wght@400;600;700&display=swap');
:root {
    --main-color: rgb(14, 14, 14);
    --text-color: rgb(226,226,226);
    --text-new-color: #8D8D8D;
    --footer-color: rgb(56,54,56);
    font-size: 62.5%;
    text-align: center;
    
  }

body {
    background-color: var(--main-color);
    
}
footer {
    background-color: var(--footer-color);
    text-align: left;
}
h1, h2, h3, p, a, li{
    color: var(--text-color);
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4rem;
    text-decoration: none;
    line-height: 2.4rem;
}
/*HEADER*/
.c_nav {
    font-size: 1.8rem;
    font-weight: 400;
}
/*HOME*/
#button0 {
    background-color: var(--main-color);
}
#slogan_main {
    font-family: 'Nunito', sans-serif;
    font-size: 2.8rem;
    font-weight: 800;
    line-height: normal;
    margin-top: 10.2rem;
    margin-bottom: 2.0rem;
    margin-left: 3.42rem;
    margin-right: 2.4rem;
}
#home_text{
    margin-bottom: 2.0rem;
    margin-left: 2.2rem;
    margin-right: 2.2rem;
    color: #8D8D8D;
}
#we1 {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
.c_button_start {
    
    border-radius: 1.5rem;
    color: var(--main-color);
    background-color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.link_start {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--main-color);
    display: inline-flex;
    padding: 1rem 3.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2.4rem;
    background: #E2E2E2;
}
#start_div {
    background-image: url("../img/photo1.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 33rem 22.4rem;
    width: 354.55px;
    height: 251.23px;
    border-radius: 0.75rem;
    margin:0 auto;
    padding: 20px 20px;
    margin-top: 5.0rem;
    margin-bottom: 10.0rem;
}
.c_star{
    display: flex;
    justify-content: flex-start;
    background-color: var(--main-color);
    border-radius: 6px;
    width: 99px;
    height: 53px;
    -shrink: 0;
}
#great {
    font-size: 0.6rem;
    font-weight: 700;
}
#value{
    font-size: 1.2rem;
    font-weight: 700;
}
#done{
    font-size: 1.2rem;
    font-weight: 400;
}
.c_feed {
    display: flex;
    justify-content: flex-end;
}
.feedback{
    background-color: var(--main-color);
    width: 5rem;
    height: 5rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#feedback_photo {
    width: 1.5422rem;
    height: 1.5422rem;
    border-radius: 1.5422rem;
}
#feedback_name {
    font-weight: 600;
    font-size: 0.5rem;
}
#feedback_work {
    font-size: 0.3rem;
    font-weight: 600;
}
#feedback_text {
    font-size: 0.5rem;
    font-weight: 400;
    line-height: normal;
}
/*ABOUT US*/
.slogan_sup{
    font-family: 'Nunito', sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
}
#about {
    margin-bottom: 1.0rem;
}
#our_teammate{
    margin-bottom: 3.5rem;
    margin-left: 11.2rem;
    margin-right: 11.2rem;
}
.c_text {
    text-align: left;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-bottom: 1.0rem;
    color: #8D8D8D;
}
#button_about_us {
    margin-top: 2.5rem;
}
#about_photo {
    margin-top: 5.0rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
#button_about_one {
    border-radius: 1.5rem;
    color: var(--main-color);
    background-color: var(--text-color);
    display: flex;
    padding: 0.625rem 2.1875rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}
#link_about_one {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--main-color);
    display: inline-flex;
    padding: 0.625rem 2.1875rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 1.5rem;
    background: #E2E2E2;
   
}
#link01 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--text-color);
}
.button0 {
    
    border-radius: 1.5rem;
    
    color: var(--main-color);
    background-color: var(--text-color);
    
    
    display: flex;
    padding: 0.625rem 2.1875rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    
}
/*Our Services Perfect and Fast Movement*/
#read {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--text-color);
    text-align: left;
    margin-bottom: 2.7rem;
}
#sevices {
    margin-top: 10.0rem;
    margin-bottom: 1.0rem;
}
#perfect {
    margin-bottom: 3.5rem;
}
#ul {
    margin-bottom: 2.7rem;
}
/*Our Portfolio What do we do*/
#projects {
    margin-top: 7.5rem;
    margin-bottom: 1.0rem;

}
#portfolio {
    background: url(img/Design.jpeg);
    background-size: 100%;
}
#what {
    margin-bottom: 3.4rem;
}
#one {
    background-image: url("img/Design.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18.75rem 18.75rem;
}
#text2 {
    margin-bottom: 3.4rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    color: #8D8D8D;
}
.link2{
    display: inline-flex;
    padding: 0.625rem 2.1875rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 1.5rem;
    border: 1px solid #E2E2E2;
}
.c_photo {
    width: 34.0rem;
    height: 24.2rem;
    flex-shrink: 0;
    border-radius: 0.75rem;
}
.square {
    border-radius: 1.875rem;
    border: 1px solid rgba(255, 255, 255, 0.10);
    width: 26.2rem;
    height: 26.9rem;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    margin:0 auto;
    margin-top: 3.9rem;
    margin-bottom: 3.9rem;

}
.square2{
    background-image: url("/img/Design.jpeg");
    background-size: 187.5px 187.5px;
    width: 187.5px;
    height: 187.5px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1.875rem;
    margin:0 auto;
    display: table;
    margin-bottom: 5.4rem;
}
.square2_text{
    display: table-cell;
    vertical-align: bottom;
    font-family: Quicksand;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    text-align: left;
}
/*Testimonial - People talk about us*/
#testimonial {
    margin-top: 10.0rem;
    margin-bottom: 1.0rem;
}
#people1 {
    margin-bottom: 3.5rem;
}
.c_feedback2 {
    width: 340px;
    height: 257px;
    border-radius: 20px;
    background: #0B0F15;
    margin:0 auto;
}
#c_feedback2_photo {
    width: 7rem;
    height: 7rem;
    border-radius: 7rem;
}
#c_feedback2_name {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}
#c_feedback2_work {
    font-size: 1.1rem;
    font-weight: 400;
}
#c_feedback2_text {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: left;
}
/*footer*/
.c_footer_h2 {
    font-family: Quicksand;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}
.c_footer_li {
    font-family: Quicksand;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}
#copyright {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
.c_icon{
    width: 3.6rem;
    height: 3.6rem;
    flex-shrink: 0;
    fill: var(--text-color);   
    background-color: var(--text-color); 
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 2.34rem
}
.c_icon_a {
    vertical-align: middle;
}